<% include ./partials/_head.ejs %>
<div class="home-page">
    <h1>Hello <%= currentUser && currentUser.firstName %></h1>
    <div class="wall">
        <% if (posts) { %>
        <% for (let i = 0; i < posts.length; i++) { %>
        <div class="wall">
            <div class="card">
                <div class="sport">
                    <%= posts[i].sport %>
                </div>

                <div class="descr">
                    <h1><%= posts[i].host.firstName %></h1>
                    <%= posts[i].descr %>
                </div>
            </div>
            <div class="comment-field">
                <form>
                    <div class="inputs">
                        <input type="text" />
                        <input type="submit">
                    </div>
                </form>
            </div>
            <% if (posts[i].comments.length) {%>
            <h1>Comments: <%=posts[i].comments.length  %> </h1>
            <% for(let j = 0; j < posts[i].comments.length; j++) { %>
            <div class="comment" id="<% posts[i].comments[j]._id %>">
                <h4 class="comments-user"><%=posts[i].comments[j].user.firstName %></h4>
                <p><%= posts[i].comments[j].content %></p>
            </div>
            <% } %>
            <% } else { %>
            <h1>Does not work</h1>
            <% } %>
        </div>
        <% } %>
        <% } %>
    </div>
</div>
<% include ./partials/_footer.ejs %>